<h1>Stupid Coaching</h1>
<br>
<p>Ask your coach anything:</p>
<div class="container">
  <form action="/answer">
    <input type="text" name="question" id="question">
    <input type="submit" value="Ask!" id="btn-submit">
  </form>
</div>

