// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.answer {
  background-color: #FFF8A6;
  border-left: solid 5px grey;
  width: 200px;
  padding: 5px 10px;
  margin-top: 5px;

}

.question {
  border-left: solid 5px grey;
  padding: 5px 10px;
}

.container {
  display: flex;

}
#question {
border: solid 1px grey;
border-radius: 5px;
}

#btn-submit {
background-color: blue;
color: white;
font-weight: bold;
border-radius: 5px;
padding-left: 10px;
margin: 0;
}
